# spring web server port
server.port=

# nats server
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

# nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# pub-sub topics

# incoming request topics
igo.request_filter_topic=
igo.new_request_topic=

# label generator pub topics
igo.cmo_label_generator_topic=
igo.cmo_label_update_topic=

# incoming sample and request sub topics
igo.validate_request_update_topic=
igo.validate_sample_update_topic=

# smile server pub topics
smile.request_update_topic=
smile.sample_update_topic=

# threading
num.new_request_handler_threads=

# publishing failures filepath
smile.publishing_failures_filepath=

# detailed consistency checking logger filepath
req_filter.request_logger_filepath=
