# spring web server port
server.port=

# nats server
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

# nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# new request topics
smile.request_filter_topic=
igo.new_request_topic=
igo.cmo_label_generator_topic=

#Incoming message with sample or request data updates:
igo.validate_request_update_topic=
igo.validate_sample_update_topic=

#Outgoing message with sample that needs new label generated:
igo.cmo_label_update_topic=

#Outgoing messages with validated sample/request containing updates being published to SMILE:
smile.request_update_topic=
smile.sample_update_topic=

# threading
num.new_request_handler_threads=

# publishing failures filepath
metadb.publishing_failures_filepath=

# detailed consistency checking logger filepath
req_filter.request_logger_filepath=
